{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'management/css/manage.css' %}" />
    <title>Admin Dashboard - CN Salon</title>
  </head>
  <body>
    <aside class="sidebar">
      <div class="logo">
        <h2>CN Salon Admin</h2>
      </div>
      <nav class="menu">
        <ul>
          <li class="active"><a href="/manage/">Dashboard</a></li>
          <li><a href="/manage_employee/">Nhân sự</a></li>
          <li><a href="/manage_service/">Dịch vụ</a></li>
          <li><a href="/manage_report">Thông báo và trao đổi</a></li>
          <li><a href="/manage_feedback/">Đóng góp của khách hàng</a></li>
          <li><a href="/logout/">Đăng xuất</a></li>
        </ul>
      </nav>
    </aside>
    <main class="main-content">
      <header class="header">
        <h1>CN Salon</h1>
        <div class="user-info">
          <p>Xin chào, <strong>Chủ Salon</strong></p>
        </div>
      </header>

      {% block content%} {% endblock%}
    </main>
  </body>
  <script src="{% static 'management/js/manage.js' %}"></script>
  <script>
    document.body.style.zoom = "110%";
    document.addEventListener("DOMContentLoaded", function () {
      // Lấy phần tử chat container
      var chatContainer = document.getElementById("chatContainer");

      // Cuộn đến cuối cùng của chat container
      chatContainer.scrollTop = chatContainer.scrollHeight;
    });
  </script>
</html>
