{% extends 'base_manage.html' %} {% load humanize %} {% block content %}

<div class="service-form">
  <h2>Quản lý Dịch vụ</h2>

  <!-- Form Thêm Dịch Vụ -->
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="id_name">Tên Dịch vụ:</label>
    <input type="text" name="name" id="id_name" required />

    <label for="id_price">Giá Dịch vụ:</label>
    <input type="number" name="price" id="id_price" step="0.01" required />

    <label for="id_description">Mô tả Dịch vụ:</label>
    <textarea name="description" id="id_description" rows="4"></textarea>

    <label for="id_image">Hình ảnh Dịch vụ:</label>
    <input type="file" name="image" id="id_image" accept="image/*" />

    <button type="submit">Thêm Dịch vụ</button>
  </form>
</div>

<!-- Danh sách dịch vụ hiện có -->
<section class="employees">
  <h2>Danh sách Dịch vụ</h2>
  <table border="1">
    <tr>
      <th>Tên Dịch vụ</th>
      <th>Giá</th>
      <th>Hình ảnh</th>
      <th>Mô tả</th>
      <th>Hành động</th>
    </tr>
    {% for service in page_obj %}
    <tr>
      <td>{{ service.name }}</td>
      <td>{{ service.price|floatformat:0|intcomma }} VNĐ</td>
      <td>
        {% if service.image %}
        <img
          class="service_img"
          src="{{ service.image.url }}"
          alt="{{ service.name }}"
          width="100"
        />
        {% else %} Chưa có ảnh {% endif %}
      </td>
      <td>{{ service.description }}</td>
      <td>
        <a class="edit-btn" href="{% url 'edit_service' service.id %}">Sửa</a> |
        <a
          class="delete-btn"
          href="{% url 'delete_service' service.id %}"
          onclick="return confirm('Bạn có chắc muốn xóa dịch vụ này?');"
          >Xóa</a
        >
      </td>
    </tr>
    {% endfor %}
  </table>

  <!-- Phân trang -->
  <div class="pagination">
    <div class="step-links">
      {% if page_obj.has_previous %}
      <a href="?page=1">&laquo; Trang đầu</a>
      <a href="?page={{ page_obj.previous_page_number }}"
        ><i class="fa-solid fa-backward"></i
      ></a>
      {% endif %}

      <span class="current">
        Trang {{ page_obj.number }} của {{ page_obj.paginator.num_pages }}
      </span>

      {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}"
        ><i class="fa-solid fa-forward"></i
      ></a>
      <a href="?page={{ page_obj.paginator.num_pages }}">Trang cuối &raquo;</a>
      {% endif %}
    </div>
  </div>
</section>

{% endblock %}
