{% extends "base_manage.html" %}{% block content%}

<section class="stats">
  <div class="stat-card">
    <h2>Doanh thu tháng này</h2>
    <p>0</p>
  </div>
  <div class="stat-card">
    <h2>Số nhân viên</h2>
    <p>0</p>
  </div>
  <div class="stat-card">
    <h2>Khách hàng phục vụ</h2>
    <p>0</p>
  </div>
</section>

<!-- Employee Management -->
<section class="employees">
  <h2>Quản lý nhân sự</h2>
  <table>
    <thead>
      <tr>
        <th>Tên nhân viên</th>
        <th>Chức vụ</th>
        <th>Lương</th>
        <th>Thưởng</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Nguyễn Văn A</td>
        <td>Thợ chính</td>
        <td>8,000,000 VNĐ</td>
        <td>1,000,000 VNĐ</td>
      </tr>
      <tr>
        <td>Nguyễn Văn A</td>
        <td>Thợ chính</td>
        <td>8,000,000 VNĐ</td>
        <td>1,000,000 VNĐ</td>
      </tr>
      <tr>
        <td>Nguyễn Văn A</td>
        <td>Thợ chính</td>
        <td>8,000,000 VNĐ</td>
        <td>1,000,000 VNĐ</td>
      </tr>
      <tr>
        <td>Nguyễn Văn A</td>
        <td>Thợ chính</td>
        <td>8,000,000 VNĐ</td>
        <td>1,000,000 VNĐ</td>
      </tr>
      <tr>
        <td>Nguyễn Văn A</td>
        <td>Thợ chính</td>
        <td>8,000,000 VNĐ</td>
        <td>1,000,000 VNĐ</td>
      </tr>
      <tr>
        <td>Nguyễn Văn A</td>
        <td>Thợ chính</td>
        <td>8,000,000 VNĐ</td>
        <td>1,000,000 VNĐ</td>
      </tr>
      <tr>
        <td>Trần Thị B</td>
        <td>Thợ phụ</td>
        <td>5,000,000 VNĐ</td>
        <td>500,000 VNĐ</td>
      </tr>
    </tbody>
  </table>
</section>

{% endblock%}
