absl-py==2.1.0
asgiref==3.8.1
botocore==1.36.15
cffi==1.17.1
cryptography==44.0.0
Django==5.1.5
django-cors-headers==4.6.0
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
git-filter-repo==2.47.0
immutabledict==4.2.0
jmespath==1.0.1
MarkupSafe==3.0.2
mysqlclient==2.2.6
numpy==2.1.2
ortools==9.11.4210
packaging==24.2
pandas==2.2.3
pillow==11.0.0
protobuf==5.26.1
psycopg2==2.9.10
psycopg2-binary==2.9.10
pycparser==2.22
PyJWT==2.10.1
PyMySQL==1.1.1
python-dateutil==2.9.0.post0
pytz==2024.2
s3transfer==0.11.2
scipy==1.14.1
six==1.16.0
sqlparse==0.5.2
tzdata==2024.2
urllib3==2.3.0
Werkzeug==3.1.3
