* {
  box-sizing: border-box;
}

html {
  height: 100vh;
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
  font-size: 1.6rem;
  background: rgba(12, 12, 12, 0.87);
  color: white;
}

.container {
  width: 1000px;
  max-width: calc(100% - 30px);
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: white;
}

.booking .body {
  border-radius: 30px;
  padding: 20px;
  background-color: black;
}
.booking .body .row_booking {
  display: flex;
}
.booking .body .row_booking .booking_heading {
  width: 30%;
}
.booking .body .row_booking .booking_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
}
.booking button {
  min-width: 185px;
  font-family: "Sen", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  line-height: 24px;
  color: #000000;
  padding: 10px 15px;
  border: none;
  border-bottom: 1px solid #000000;
  background: linear-gradient(90deg, #ffffff 0%, #999999 100%);
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 90px;
  cursor: pointer;
}

.formInput,
#id_booking_date,
.formTextarea,
.label-service {
  display: inline-block;
  width: 460px;
  margin-bottom: 10px;
  border: 1px solid rgba(151, 151, 151, 0.5803921569);
  padding: 5px;
  padding-left: 10px;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
}

form {
  text-align: center;
}

label {
  cursor: pointer;
}

.label-service {
  background-color: #ffffff;
  color: black;
  font-size: 1.4rem;
  padding-left: 15px;
  height: 28px;
}

.service {
  width: 460px;
  border: 1px solid rgba(151, 151, 151, 0.5803921569);
  padding: 15px;
  border-radius: 20px;
  margin-bottom: 10px;
}

.formTextarea {
  resize: none;
}

.hidden {
  display: none;
}

.errorlist {
  margin: 5px;
  padding: 0;
  list-style-type: none;
}
.errorlist li {
  font-size: 1.2rem;
  color: red;
}

.toastify {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Arial", sans-serif;
  font-size: 2rem;
  font-weight: normal;
  background: rgba(107, 217, 134, 0.9);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: black;
  position: fixed;
  top: 0;
  cursor: default;
}

.toast-close {
  color: black;
  padding: 0 15px;
}

.quan-ly-dat-lich {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.quan-ly-dat-lich h2 {
  text-align: center;
  font-size: 3rem;
  font-family: "monospace", sans-serif;
  font-weight: bold;
}
.quan-ly-dat-lich table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
.quan-ly-dat-lich th,
.quan-ly-dat-lich td {
  border: 2px solid #ddd;
  padding: 8px;
  text-align: left;
}
.quan-ly-dat-lich th {
  background: #007bff;
  color: white;
}