{% extends "base.html" %}
{% load static %}
{%load static%}

{% block style %}
  {%static 'css/quan-ly-dat-lich/quan-ly-dat-lich.css'%}
{% endblock %}
{% block content %}
    <section>
    <div class="quan-ly-dat-lich">
        <div class="container">
            <h2>Lịch Đặt Của Bạn</h2>
            <table>
              <tr>
                <th>Họ và Tên</th>
                <th>Số điện thoại</th>
                <th>Chi nhánh</th>
                <th>Dịch vụ</th>
                <th>Lời nhắn</th>
                <th>Ngày đặt lịch</th>
                <th>Giờ đặt lịch</th>
              </tr>
              {% for booking in bookings %}
              <tr>
                <td>{{ booking.full_name }}</td>
                <td>{{ booking.phone_number }}</td>
                <td>{{ booking.branch }}</td>
                <td>{{ booking.service|join:", " }}</td>
                <td>{{ booking.message }}</td>
                <td>{{ booking.booking_date }}</td>
                <td>{{ booking.booking_time }}</td>
              </tr>
              {% empty %}
              <tr>
                <td style="text-align:center;" colspan="7">Bạn chưa có lịch đặt nào.</td>
              </tr>
              {% endfor %}
            </table>
        </div>
    </div>
  </section>
{% endblock %}
{%block script%}
    <script type="module" src="{%static 'js/main.js'%}"></script>
{% endblock %}
    
</html>
