{% extends "base_booking.html" %} {% load static %} {% block content %}
<!-- Form Đặt lịch -->
<form method="POST">
  {% csrf_token %} {{ form.non_field_errors }}

  <div class="form-group">
    {{ form.phone_number }} {{ form.phone_number.errors }}
  </div>

  <div class="form-group">{{ form.full_name }} {{ form.full_name.errors }}</div>

  <div class="form-group">{{ form.gender }} {{ form.gender.errors }}</div>

  <div class="form-group">{{ form.branch }} {{ form.branch.errors }}</div>

  <div class="form-group">
    {{ form.booking_date }} {{ form.booking_date.errors }}
  </div>

  <div class="form-group">
    {{ form.booking_time }} {{ form.booking_time.errors }}
  </div>

  <div class="form-group">
    <label
      class="label-service"
      style="display: inline-block; margin-bottom: 10px; text-align: left;"
      for="service"
      >Chọn dịch vụ</label
    >
    <div class="service hidden">
      {% for checkbox in form.service %}
      <div style="display: flex" class="checkbox">
        <label for="{{ checkbox.id_for_label }}" style="min-width: 90%"
          >{{ checkbox.choice_label }}</label
        >
        {{ checkbox.tag }}
      </div>
      {% endfor %}
    </div>
    {{ form.service.errors }}
  </div>

  <div class="form-group">{{ form.message }} {{ form.message.errors }}</div>

  {% if user.is_authenticated %}
  <div></div>
  {% else %}
  <p>
    Bạn có thể
    <a style="color: #dd1956" href="/login">Đăng nhập</a> để quản lý thông tin
    đặt lịch
  </p>
  <p>
    Hoặc tra cứu cuộc hẹn đã đặt bằng cách ấn
    <a style="color: #dd1956" href="/lookup">Tra cứu</a>
  </p>
  {% endif %}
  <button type="submit" class="btn btn-primary">Đặt lịch</button>
</form>

{% endblock %}
