{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
      integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="{% static 'staff/css/staff.css' %}" />
    <title>Staff Dashboard - CN Salon</title>
  </head>
  <body>
    <aside class="sidebar">
      <div class="logo">
        <h2>CN Salon Staff</h2>
      </div>
      <nav class="menu">
        <ul>
          <li class="active"><a href="/staff">Dashboard</a></li>
          <li><a href="/staff_booking/">Lịch Hẹn</a></li>
          <li><a href="/staff_account">Tài khoản</a></li>
          <li><a href="/staff_report">Thông báo và trao đổi</a></li>
          <li><a href="/logout/">Đăng xuất</a></li>
        </ul>
      </nav>
    </aside>

    <!-- Main Content -->
    <main class="main-content">
      <header class="header">
        <h1>CN Salon</h1>
        <div class="user-info"></div>
      </header>
      {% block content %}{% endblock %}
    </main>
    <script src="{% static 'staff/js/staff.js' %}"></script>
    <script>
      document.body.style.zoom = "100%";
      document.addEventListener("DOMContentLoaded", function () {
        // Lấy phần tử chat container
        var chatContainer = document.getElementById("chatContainer");

        // Cuộn đến cuối cùng của chat container
        chatContainer.scrollTop = chatContainer.scrollHeight;
      });
    </script>
  </body>
</html>
