{% extends "base_staff.html" %} {% load static %} {% block content %}
<!-- Statistics Section -->
<section class="stats">
  <div class="stat-card">
    <h2>Đã hoàn thành</h2>
    <p>120</p>
  </div>
  <div class="stat-card">
    <h2>Đang chờ</h2>
    <p>30</p>
  </div>
  <div class="stat-card">
    <h2>Đã hủy</h2>
    <p>5</p>
  </div>
</section>

<!-- Appointments Section -->
<section class="appointments" id="appointments">
  <h2>Danh sách Lịch Hẹn</h2>
  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>Khách hàng</th>
        <th>Ngày Giờ</th>
        <th>Dịch Vụ</th>
        <th>Trạng Thái</th>
        <th>Hành động</th>
      </tr>
    </thead>
    <tbody>
      {% for booking in page_obj %}
      <tr>
        <td>{{ booking.id }}</td>
        <td>{{ booking.full_name }}</td>
        <td>{{ booking.booking_date }} {{ booking.booking_time }}</td>
        <td>{{ booking.services.all|join:", " }}</td>
        <td>{{ booking.get_status_display }}</td>

        <td>
          <a href="{% url 'staff_booking_single' booking.id %}">Chi tiết</a>
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="6" style="text-align: center">Không có lịch hẹn nào</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <!-- Phân trang -->
  <div class="pagination">
    <span class="step-links">
      {% if page_obj.has_previous %}
      <a href="?page=1">&laquo; Đầu</a>
      <a href="?page={{ page_obj.previous_page_number }}"><<</a>
      {% endif %}

      <span class="current">
        Trang {{ page_obj.number }} của {{ page_obj.paginator.num_pages }}.
      </span>

      {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}">>></a>
      <a href="?page={{ page_obj.paginator.num_pages }}">Cuối &raquo;</a>
      {% endif %}
    </span>
  </div>
</section>

{% endblock %}
