{% extends "base_staff.html" %} {% load static %} {% block content %}
  <section class="appointments ">
  <h2>Chi tiết Lịch Hẹn</h2>
  <form method="POST">
    {% csrf_token %}
    <label for="reward_points_used">Điểm thưởng sử dụng:</label>
    <input type="number" name="reward_points_used" id="reward_points_used" min="0" step="0.01">
  <table class="booking-table">
    <thead>
      <tr>
        <th>Khách hàng</th>
        <th>Số điện thoại</th>
        <th>Dịch vụ</th>
        <th>Ngày - Giờ</th>
        <th>Lời nhắn</th>
        
        <th>Trạng thái</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ booking.full_name }}</td>
        <td>{{ booking.phone_number }}</td>
        <td>{{ booking.services.all|join:", " }}</td>
        <td>{{ booking.booking_date }} - {{ booking.booking_time }}</td>
        <td>{{ booking.message }}</td>
        <td>
            
            <select name="status" id="status" required>
              <option value="pending" {% if booking.status == 'pending' %}selected{% endif %}>Chờ</option>
              <option value="in_progress" {% if booking.status == 'in_progress' %}selected{% endif %}>Đang thực hiện</option>
              <option value="completed" {% if booking.status == 'completed' %}selected{% endif %}>Hoàn thành</option>
            </select>
        
        </td>
      </tr>
    </tbody>
  </table>           
  <div style="display:flex; justify-content:center;"><button class="send" type="submit" >Xác nhận</button></div></form>

  <!-- Status Update Section -->
  
</section>
{% endblock %}
