{% extends "base_staff.html" %} {% load static %} {% block content %}
      <section class="booking-details">
  <h2>Chi tiết Lịch Hẹn</h2>
  <div class="booking-info">
    <p><strong>Khách hàng:</strong> {{ booking.full_name }}</p>
    <p><strong>Số điện thoại:</strong> {{ booking.phone_number }}</p>
    <p><strong>Dịch vụ:</strong> {{ booking.services.all|join:", " }}</p>
    <p><strong>Ngày Giờ:</strong> {{ booking.booking_date }} {{ booking.booking_time }}</p>
    <p><strong>Lời nhắn:</strong> {{ booking.message }}</p>
  </div>

  <!-- Status Update Section -->
  <form method="POST" id="status-form">
    {% csrf_token %}
    <label for="status">Trạng thái:</label>
    <select name="status" id="status" required>
      <option value="pending" {% if booking.status == 'pending' %}selected{% endif %}>Chờ</option>
      <option value="in_progress" {% if booking.status == 'in_progress' %}selected{% endif %}>Đang thực hiện</option>
      <option value="completed" {% if booking.status == 'completed' %}selected{% endif %}>Hoàn thành</option>
    </select>

    <button type="submit" class="btn">Xác nhận</button>
  </form>
</section>
{% endblock %}
