{% extends "base_staff.html" %} {% block content %}
<section class="appointments">
  <h2>Chi tiết lịch hẹn của {{ user.username }}</h2>

  <table>
    <thead>
      <tr>
        <th>Ngày giờ</th>
        <th>Dịch vụ</th>
        <th>Trạng thái</th>
      </tr>
    </thead>
    <tbody>
      {% for booking in bookings %}
      <tr>
        <td>{{ booking.booking_date }} {{ booking.booking_time }}</td>
        <td>{{ booking.services.all|join:", " }}</td>
        <td>{{ booking.get_status_display }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <div class="send" style="display: inline-block; margin: 20px 600px">
    <a style="color: white" href="/staff_account">Quay lại</a>
  </div>
</section>

{% endblock %}
